
<% Item.all.sort.each_with_index do |i, n| %>
  <tr>
  	<% if i.categories.first != nil %>
  	  <td><%= i.categories.first.name %></td>
  	<% else %>
  	  <td>No category</td>
  	<% end %>
  	<% if i.name == nil %>
  	  <td><%= "Item N°#{n+1}" %></td>
  	<% else %>
  	  <td><%= i.name %></td>
  	<% end %>
    <td><%= i.original_price %></td>
    <%= form_for i, url: administration_item_path(i) do |f| %>
      <td><%= f.text_field :discount_percentage, placeholder: "#{i.discount_percentage}" %></td>
      <td><%= i.price %></td>
      <td><%= f.submit 'modifier', class: 'btn btn-default' %></td>
    <% end %>
  </tr>
<% end %>
