
<% Item.all.sort.each do |i| %>
  <tr>
    <td><%= i.original_price %></td>
    <%= form_for i, url: administration_item_path(i) do |f| %>
      <td><%= f.text_field :discount_percentage, placeholder: "#{i.discount_percentage}" %></td>
      <td><%= i.price %></td>
      <td><%= f.submit 'modifier', class: 'btn btn-default' %></td>
    <% end %>
  </tr>
<% end %>

